$header_height: 5rem
$header_height_mobile: 3rem
$header_padding: 1.25rem
$header_padding_mobile: 0.625rem
header
  position: fixed
  top: 0
  left: 0
  width:  calc(100% - $header_padding * 2)
  z-index: 100
  background-color: #000
  padding: 20px
  color: #fff
  text-align: center
  display: flex
  height: $header_height
  justify-content: space-between
  align-items: center
  @media (max-width: 768px)
    font-size: 0.6em
    padding: $header_padding_mobile
    height: $header_height_mobile
    width: calc( 100% - $header_padding_mobile * 2 )
  form
    display: flex
    align-items: center
    gap: .5rem
    $height: 2rem
    input[type="search"]
      padding: 10px
      border-radius: 5px
      border: none
      width: 300px
      height: $height
      border: 2px solid transparent
      font-size: 1rem
      background-color: darken($background, 70%)
      color: lighten($color, 80%)
      &:focus
        outline: none
        border-color: $accent
    button
      height: $height
      background-color: $accent
      color: #fff
      border: none
      padding: 8px 15px
      border-radius: 5px
      &:hover
        background-color: darken($accent, 10%)
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
        transform: scale(1.1)
        text-decoration: none
      &:focus
        outline: none
        border-color: $accent
  >div
    display: flex
    align-items: center
  h1
    font-size: 2em
    margin: 0
    padding: 0
    a
      color: #333
      text-decoration: none
      &:hover
        color: #666
  nav
    ul
      list-style: none
      padding: 0
      margin: 0
      li
        display: inline
        margin: 0 10px
        a
          color: #333
          text-decoration: none
          &:hover
            color: #666

.profile-img
  $size_profile: 70px
  border-radius: 50%
  width: $size_profile
  height: $size_profile
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  transition: all 0.3s ease
  position: relativ
  z-index: 150
  &:hover
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
    cursor: pointer
  @media (max-width: 768px)
    width: 40px
    height: 40px




.signup-btn
  background-color: $accent
  color: #fff
  padding: 8px 15px
  border-radius: 10px
  &:hover
    background-color: darken($accent, 10%)
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
    transform: scale(1.1)
    text-decoration: none

.sign-opt
  display: flex
  justify-content: space-between
  align-items: center
  > a
    text-transform: uppercase
    text-decoration: none
    font-weight: bold
    cursor: pointer
    transition: all 0.3s ease

.signin-btn
  color: $accent
  padding: 8px 15px
  &:hover
    transform: scale(1.1)